/*debug*/
.debug {
    border: 3px solid red; 
}

.debug2 {
    border: 3px solid rgb(0, 0, 0); 
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colori*/

:root {
    --dark: #23272A;
    --blue: #255EE9;
    --light: #F6F6F6;
    --violet:#748ADB;
    --gray: #D9D9D9;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.txt-light {
    color: var(--light);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
}

.container-small{
    max-width: 650px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
}

.content {
    width: 40%;
}

.image {
    width: 60%;
}

.image img{
    width: 100%;
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.row-reverse {
    flex-direction: row-reverse;
}

.btn {
    display: inline-block;
    padding: 4px 14px;
    border-radius: 20px;
}

.btn-big {
    display: inline-block;
    padding: 6px 21px;
    border-radius: 20px;
} 

.btn-violet{
    background-color: var(--violet);
    color: var(--light);
}

.btn-light{
    background-color: var(--light);
    color: var(--dark);
}

.btn-dark{
    background-color: var(--dark);
    color: var(--light);
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin:0 20px;
}

#hero {
    background-image: url(../img/jumbo.png);
    height: 480px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero div {
    text-align: center;
    color:var(--light)
}

h1 {
    font-size: 40px;
    line-height: 60px;
}

p {
    font-size: 16px;
    padding-top: 15px;
}

#place {
    justify-content: center;
    align-items: center;
}

.m-top {
    margin-top: 15px;
}

#meet {
    justify-content: center;
    align-items: center;
}

#community {
    justify-content: center;
    align-items: center;
}

#tecnology {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tecnology div{
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.bg-star {
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 400px;
}

/*Font*/

body {
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 2;
}